section.bodyContent
        .container
            .BCCarusel
            .BCFlex
                .BCLeft
                    .BCLineTop
                    .BCshortNews
                        .BCShortNewsImg
                            img(src='/img/bcshortnewsimg-01.png')              
                        .BCShortNEwsContent
                            h5 Pola & Bryson’s Top 10 Winter Soothers
                .BCRight

