section.bodyContent
        .container
            .BCCarusel
            .BCFlex
                .BCLeft
                    .BCLineTop
                    .BCshortNews
                        .BCShortNewsImg
                            img(src='/img/bcshortnewsimg-01.png')              
                        .BCShortNEwsContent
                            h5 Pola & Bryson’s Top 10 Winter Soothers
                            i.fa.fa-user
                            small Nina T. 
                            i.fa.fa-calendar-alt
                            small 10.10.2019
                            p Pola & Bryson sign off an immense summer with their sublime Pacific EP and a selection of essential D&B soothers for the colder months.
                .BCRight

