section.header
    .container-flex
        .logo
            h1 Planet of the Break
        .social            
            a.fa.fa-facebook(href='#')
            a.fa.fa-instagram(href='#')
            a.fa.fa-vk(href='#')
            a.fa.fa-telegram(href='#')
            
            .search