section.header
    .container-flex
        .logo
            img(src="/img/logo.png", alt="logo")
            p block rockin' beats
        .social
            a(href='#')
                <span class="iconify" data-icon="entypo-social:instagram-with-circle" data-inline="false"></span>

            a(href='#')
                span.iconify(data-icon='fa-brands:telegram', data-inline='false')

            a(href='#')
                <span class="iconify" data-icon="fa-brands:facebook" data-inline="false"></span>
            a(href='#')
                <span class="iconify" data-icon="entypo-social:vk-with-circle" data-inline="false"></span>
            input(type='text')