nav
    .wrpMenu
        .mainMenu
            label.show-menu(for='show-menu')
                | Меню 
                i.fa.fa-caret-down
            input#show-menu(type='checkbox', role='button')
            ul#menu
                li
                    a(href='index.html') Домой
                li
                    a(href='news.html') Новости
                li
                    a(href='#')
                        | Ремонт
                li
                    a(href='#')
                        | Настройка